[submodule "vendor/textmate"]
	path = vendor/textmate
	url = https://github.com/defunkt/textmate.el.git
[submodule "vendor/jade-mode"]
	path = vendor/jade-mode
	url = https://github.com/brianc/jade-mode.git
[submodule "vendor/magit"]
	path = vendor/magit
	url = https://github.com/magit/magit.git
[submodule "vendor/js2-mode"]
	path = vendor/js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule "vendor/color-theme-solarized"]
	path = vendor/color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule "vendor/coffee-mode"]
	path = vendor/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule "vendor/yaml-mode"]
	path = vendor/yaml-mode
	url = git://github.com/yoshiki/yaml-mode.git
[submodule "vendor/less-css"]
	path = vendor/less-css
	url = https://github.com/purcell/less-css-mode.git
[submodule "vendor/haml-mode"]
	path = vendor/haml-mode
	url = https://github.com/nex3/haml-mode.git
[submodule "vendor/rvm"]
	path = vendor/rvm
	url = https://github.com/senny/rvm.el.git
[submodule "vendor/pony-mode"]
	path = vendor/pony-mode
	url = https://github.com/davidmiller/pony-mode.git
[submodule "vendor/sass-mode"]
	path = vendor/sass-mode
	url = https://github.com/nex3/sass-mode.git
[submodule "vendor/exec-path-from-shell"]
	path = vendor/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell.git
